.img_Sheldon{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center{
    text-align: center;
}

table {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

@import "./node_modules/bootstrap/scss/bootstrap";
